* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: inherit;
  font-family: "Outfit", sans-serif;
}
body {
  padding-top: 150px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 5;
}
.lola-1 {
  height: 30px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 7px 30px;
  h2 {
    font-family: Maison Neue;
    font-weight: 600;
    font-style: Demi;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    text-align: center;
  }
  a {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
  }
}
.son {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 550px;
}
.son-2 {
  display: flex;
  gap: 12px;
  align-items: center;
  select {
    background-color: #000000;
    border: none;
  }
}
.lola-2 {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sister-1 {
  display: flex;
  gap: 40px;
  a {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #262626;
  }
}
.sister-1 a:hover {
  border-bottom: 1px solid #000000;
  scale: 1.2;
}
.sister-2 {
  margin-right: 250px;
}
.sister-3 {
  display: flex;
  gap: 20px;
}
.lola-3 {
  height: 56px;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  a {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #262626;
  }
}

.lola-3 a:hover {
  color: #d0021b;
}
.akillz {
  display: flex;
  justify-content: space-between;
}
.fd {
  width: 384px;
  height: 1282px;
  .Outerwear {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #737373;
  }
}
.jambo {
  padding-bottom: 16px;
}
.text-men {
  width: 384px;
  height: 67px;
  display: flex;
  gap: 10px;
  h2 {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 24px;
    line-height: 33.24px;
    letter-spacing: 0px;
  }
  .qiyshu {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 24px;
    line-height: 33.24px;
    letter-spacing: 0px;
    text-decoration: line-through;
    color: #737373;
  }
  .togri {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 24px;
    line-height: 33.24px;
    letter-spacing: 0px;
  }
}
.ballonstar {
  display: flex;
  gap: 5px;
  width: 384px;
  height: 16px;
  p {
    margin-left: 5px;
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #737373;
  }
}
.gym {
  padding-top: 18px;
  padding-bottom: 18px;
}
.close {
  display: flex;
  gap: 12px;
  margin-bottom: 10px;
  .cr {
    font-family: Maison Neue;
    font-weight: 600;
    font-style: Demi;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
  }
  .bo {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
  }
}
.syna {
  display: flex;
  gap: 12px;
}
.sizes {
  padding-top: 18px;
  padding-bottom: 18px;
}
.size-text {
  width: 384px;
  height: 16px;
  display: flex;
  justify-content: space-between;
  .size-1 {
    font-family: Maison Neue;
    font-weight: 600;
    font-style: Demi;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
  }
  .size-2 {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
  }
}
.g-cards {
  width: 384px;
  height: 40px;
  display: flex;
  gap: 12px;
  margin-top: 10px;
}
.g-cad {
  width: 45px;
  height: 40px;
  padding: 12px;
  background-color: #f5f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Maison Neue;
  font-weight: 400;
  font-style: Book;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
}
.blatnoy {
  width: 384px;
  height: 105px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.add {
  width: 384px;
  height: 41px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  background-color: black;
  color: white;
  font-family: Maison Neue;
  font-weight: 400;
  font-style: Book;
  font-size: 14px;
  line-height: 16.8px;
  letter-spacing: 1.4px;
  text-align: center;
}
.add:active {
  background-color: transparent;
  color: black;
  border: 1px solid black;
}

footer {
  margin-top: 50px;
  height: 400px;
  background-color: #f5f4f4;
  padding: 60px 90px 16px 90px;
}
.gips {
  padding-bottom: 20px;
  display: flex;
  .input {
    margin-left: 100px;
    margin-top: 20px;
    width: 388px;
    height: 53px;
    padding-top: 18px;
    padding-right: 15px;
    padding-bottom: 18px;
    padding-left: 15px;
    border: 1px solid #dddbdc;
  }
  .chumo {
    width: 52px;
    border: none;
    height: 53px;
    margin-top: 19.5px;
    color: white;
    margin-right: 30px;
    background-color: #000000;
    padding-top: 14.5px;
    padding-right: 14px;
    padding-bottom: 14.5px;
    padding-left: 14px;
  }
}
.l-1 {
  width: 194px;
  height: 155px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  h2 {
    font-family: Maison Neue;
    font-weight: 600;
    font-style: Demi;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-bottom: 20px;
  }
  a {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 1.4px;
    color: #737373;
  }
}
.l-2 {
  width: 194px;
  height: 280px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  h2 {
    font-family: Maison Neue;
    font-weight: 600;
    font-style: Demi;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-bottom: 20px;
  }
  a {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 1.4px;
    color: #737373;
  }
}
.l-3 {
  width: 194px;
  height: 182px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  h2 {
    font-family: Maison Neue;
    font-weight: 600;
    font-style: Demi;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-bottom: 20px;
  }
  a {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 1.4px;
    color: #737373;
  }
}
.l-4 {
  width: 194px;
  height: 209px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  h2 {
    font-family: Maison Neue;
    font-weight: 600;
    font-style: Demi;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-bottom: 20px;
  }
  a {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 1.4px;
    color: #737373;
  }
}
.chips {
  height: 80px;
  color: #f5f4f4;
  p {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #737373;
    margin-top: 40px;
  }
}
.karusel {
  display: flex;
  justify-content: space-between;
  a {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #737373;
  }
}
.tt {
  padding-top: 24px;
  padding-bottom: 24px;
  width: 384px;
  height: 207px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
.opix {
  display: flex;
  gap: 16px;
  width: 384px;
  height: 37px;
  h2 {
    font-family: Maison Neue;
    font-weight: 600;
    font-style: Demi;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.42px;
  }
  p {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
  }
}
.grax {
  width: 384px;
  height: 361px;
  padding-top: 40px;
  padding-bottom: 12px;
}
.grax-text {
  h2 {
    font-family: Maison Neue;
    font-weight: 600;
    font-style: Demi;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
  }
  p {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 1.4px;
    margin-top: 16px;
  }
}
.grax-model {
  width: 384px;
  height: 64px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 50px;
  h2 {
    font-family: Maison Neue;
    font-weight: 600;
    font-style: Demi;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
  }
  p {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 1.4px;
  }
}
.fit {
  width: 384px;
  height: 91px;
  border-bottom-width: 1px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 50px;
  h2 {
    font-family: Maison Neue;
    font-weight: 600;
    font-style: Demi;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
  }
  p {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 1.4px;
  }
}
.Sustainability {
  width: 384px;
  height: 127px;
  padding-top: 20px;
  padding-bottom: 20px;
  img {
    width: 384px;
    height: 63px;
  }
  h2 {
    font-family: Maison Neue;
    font-weight: 600;
    font-style: Demi;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
  }
}
.big-negro {
  height: 1540px;
  margin-left: 150px;
}
.negro {
  margin-top: 10px;
  justify-content: space-between;
  height: 508px;
  gap: 10px;
  img {
    width: 412px;
    height: 508px;
  }
}
.big-white {
  height: 613px;
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  margin-left: 170px;
}
.nas {
  height: 453px;
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 10px;
}
.san {
  display: flex;
  flex-direction: column;
  justify-content: center;
  img {
    width: 234px;
    height: 392px;
    margin-bottom: 10px;
  }
  h2 {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
  }
}
.dollars {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.qiyshu-dollar {
  font-family: Maison Neue;
  font-weight: 400;
  font-style: Book;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  text-align: right;
  text-decoration: line-through;
  color: #737373;
}
.burxon {
  font-family: Maison Neue;
  font-weight: 600;
  font-style: Demi;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  text-align: right;
}
.Bone {
  font-family: Maison Neue;
  font-weight: 400;
  font-style: Book;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-top: 8px;
}
.jonbe {
  height: 242px;
  padding: 42px 56px 84px 56px;
  background-color: #f5f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.small {
  h2 {
    font-family: Maison Neue;
    font-weight: 600;
    font-style: Demi;
    font-size: 24px;
    line-height: 33.24px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 40px;
  }
}
.jc-1 {
  width: 262px;
  height: 61px;
  p {
    font-family: Maison Neue;
    font-weight: 600;
    font-style: Demi;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-bottom: 15px;
  }
}
.jc-2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.jcc {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.bir {
  display: flex;
  align-items: center;
  gap: 6px;
  p {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #737373;
  }
}
.chizi {
  width: 216px;
  height: 6px;
  background-color: #dddbdc;
}
.chizi:hover {
  background-color: #000000;
}
.gf {
  display: flex;
  gap: 5px;
}
.pizi {
  width: 49.20000076293945px;
  height: 8px;
  background-color: #dddbdc;
}
.pizi:hover {
  background-color: #000000;
}
.Runs {
  font-family: Maison Neue;
  font-weight: 600;
  font-style: Demi;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  display: flex;
  justify-content: flex-start;
}
.gf-text {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  p {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    text-align: right;
  }
}
.ump {
  padding-top: 40px;
}
.lab {
  display: flex;
  justify-content: space-between;
}
.gus-1 {
  width: 240px;
  height: 66px;
  border: 1px solid #dddbdc;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}
.gus-2 {
  width: 240px;
  height: 82px;
  border: 1px solid #dddbdc;
  padding: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gus-text {
  h2 {
    font-family: Maison Neue;
    font-weight: 600;
    font-style: Demi;
    font-size: 24px;
    line-height: 33.24px;
    letter-spacing: 0px;
  }
  p {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
  }
}
.def {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 57px;
}
.def-son {
  display: flex;
  align-items: center;
}
.lil-1 {
  width: 230px;
  height: 166px;
  h2 {
    font-family: Maison Neue;
    font-weight: 600;
    font-style: Demi;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
  }
}
.check {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-top: 10px;
  padding-bottom: 21px;
}
.lil-text {
  margin-bottom: 15px;
  p {
    font-family: Maison Neue;
    font-weight: 600;
    font-style: Demi;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
  }
}
.ili-text {
  p {
    font-family: Maison Neue;
    font-weight: 600;
    font-style: Demi;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
  }
}
.lil-2 {
  h2 {
    font-family: Maison Neue;
    font-weight: 600;
    font-style: Demi;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
  }
  p {
    width: 692px;
    height: 34px;
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 1.4px;
    margin-top: 12px;
  }
}
.toni-stark {
  margin-bottom: 12px;
}
.days {
  p {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #737373;
  }
}
.ricola {
  padding-top: 40px;
  padding-bottom: 57px;
  display: flex;
  justify-content: space-between;
}
.transport {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ibo-1 {
  width: 684px;
  height: 118px;
  h2 {
    font-family: Maison Neue;
    font-weight: 600;
    font-style: Demi;
    font-size: 24px;
    line-height: 33.24px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 15px;
  }
  p {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 1.4px;
    text-align: center;
  }
}
.ibo-2 {
  width: 684px;
  height: 152px;
  margin-top: 16px;
  display: flex;
}
.trans-card {
  width: 136.8000030517578px;
  height: 151px;
  padding: 24px;

  p {
    width: 88px;
    height: 32px;
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    text-align: center;
    margin-top: 12px;
  }
}
