* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: inherit;
  font-family: "Outfit", sans-serif;
}
body {
  padding-top: 150px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 5;
}
.lola-1 {
  height: 30px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 7px 30px;
  h2 {
    font-family: Maison Neue;
    font-weight: 600;
    font-style: Demi;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    text-align: center;
  }
  a {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
  }
}
.son {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 550px;
}
.son-2 {
  display: flex;
  gap: 12px;
  align-items: center;
  select {
    background-color: #000000;
    border: none;
  }
}
.lola-2 {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sister-1 {
  display: flex;
  gap: 40px;
  a {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #262626;
  }
}
.sister-1 a:hover {
  border-bottom: 1px solid #000000;
  scale: 1.2;
}
.sister-2 {
  margin-right: 250px;
}
.sister-3 {
  display: flex;
  gap: 20px;
}
.lola-3 {
  height: 56px;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  a {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #262626;
  }
}
.lola-3 a:hover {
  color: #d0021b;
}
main{
  padding-bottom: 30px;
}
.gucci {
  width: 1028px;
  height: 1715px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  gap: 16px;
}
.gg {
  margin-top: 16px;
}
.niko-1 {
  h2 {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
  }
}
label {
  margin-top: 20px;
  font-family: Maison Neue;
  font-weight: 400;
  font-style: Book;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
}
.spot {
  h2 {
    font-family: Maison Neue;
    font-weight: 600;
    font-style: Demi;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.42px;
  }
  width: 196px;
  height: 53px;
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}
.su {
  margin-top: 10px;
  color: #4c4c4b;
  font-family: Maison Neue;
  font-weight: 400;
  font-style: Book;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
}
.ibo {
  width: 196px;
  height: 176px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.tokhirov {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
  }
  h2 {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    text-align: center;
  }
}
.pari {
  display: flex;
  flex-wrap: wrap;
  width: 196px;
  height: 136px;
  gap: 4px;
  padding-bottom: 24px;
}
.Waist {
  font-family: Maison Neue;
  font-weight: 400;
  font-style: Book;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #4c4c4b;
  margin-bottom: 10px;
}
.jeep {
  font-family: Maison Neue;
  font-weight: 400;
  font-style: Book;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  display: flex;
  justify-content: center;
  width: 46px;
  height: 40px;
  padding: 12px;
  background-color: #f5f4f4;
}
.swaga {
  font-family: Maison Neue;
  font-weight: 400;
  font-style: Book;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  background-color: #f5f4f4;
  width: 46px;
  height: 40px;
  padding: 12px;
  display: flex;
  justify-content: center;
}
.niko-text {
  padding-bottom: 10px;
  padding-top: 15px;
  p {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #737373;
  }
  h1 {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0px;
  }
  h2 {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.64px;
  }
}
.Cards {
  width: 1028px;
  height: 1611px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.card {
  width: 329.3333435058594px;
  height: 483px;
  img {
    width: 329.3333435058594px;
    height: 392px;
  }

  .p1 {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    text-align: right;
    text-decoration: line-through;
    color: #737373;
  }
  .p2 {
    font-family: Maison Neue;
    font-weight: 600;
    font-style: Demi;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    text-align: right;
  }
}
.card-text {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h2 {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
  }
}
.kuku {
  display: flex;
  align-items: center;
  gap: 3px;
}
.Black {
  font-family: Maison Neue;
  font-weight: 400;
  font-style: Book;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-top: 10px;
}
.color {
  margin-top: 12px;
  img {
    width: 20px;
    height: 20px;
  }
}
.ORGANIC {
  width: 112;
  height: 28;
  gap: 10px;
  margin-top: 10px;
  padding-top: 6px;
  padding-right: 8px;
  padding-bottom: 6px;
  padding-left: 8px;
  background-color: transparent;
  border: 1px solid #dddbdc;
  font-family: Maison Neue;
  font-weight: 400;
  font-style: Book;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 1px;
  text-align: center;
  color: #737373;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}
.ORGANIC:hover{
  color: black;
  background-color: darkgray;
  scale: 1.2

}
footer {
  margin-top: 50px;
  height: 400px;
  background-color: #f5f4f4;
  padding: 60px 90px 16px 90px;
}
.gips {
  padding-bottom: 20px;
  display: flex;
  .input {
    margin-left: 100px;
    margin-top: 20px;
    width: 388px;
    height: 53px;
    padding-top: 18px;
    padding-right: 15px;
    padding-bottom: 18px;
    padding-left: 15px;
    border: 1px solid #dddbdc;
  }
  .chumo {
    width: 52px;
    border: none;
    height: 53px;
    margin-top: 19.5px;
    color: white;
    margin-right: 30px;
    background-color: #000000;
    padding-top: 14.5px;
    padding-right: 14px;
    padding-bottom: 14.5px;
    padding-left: 14px;
  }
}
.l-1 {
  width: 194px;
  height: 155px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  h2 {
    font-family: Maison Neue;
    font-weight: 600;
    font-style: Demi;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-bottom: 20px;
  }
  a {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 1.4px;
    color: #737373;
  }
}
.l-2 {
  width: 194px;
  height: 280px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  h2 {
    font-family: Maison Neue;
    font-weight: 600;
    font-style: Demi;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-bottom: 20px;
  }
  a {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 1.4px;
    color: #737373;
  }
}
.l-3 {
  width: 194px;
  height: 182px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  h2 {
    font-family: Maison Neue;
    font-weight: 600;
    font-style: Demi;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-bottom: 20px;
  }
  a {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 1.4px;
    color: #737373;
  }
}
.l-4 {
  width: 194px;
  height: 209px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  h2 {
    font-family: Maison Neue;
    font-weight: 600;
    font-style: Demi;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-bottom: 20px;
  }
  a {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 1.4px;
    color: #737373;
  }
}
.chips {
  height: 80px;
  color: #f5f4f4;
  p {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #737373;
    margin-top: 40px;
  }
}
.karusel {
  display: flex;
  justify-content: space-between;
  a {
    font-family: Maison Neue;
    font-weight: 400;
    font-style: Book;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #737373;
  }
}
